In [1]:
#Import dependencies and setup
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd
import os
from splinter import Browser

In [2]:
# Setting Chrome browser and setting path
executable_path = {"executable_path":ChromeDriverManager().install()}
browser = Browser ("chrome", **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\anjav\.wdm\drivers\chromedriver\win32\91.0.4472.101]

##  Step 1-Scraping
## NASA Mars News

In [3]:
#Visiting the NASA news website
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
# Scrape the Mars News Site and collectig the latest news and content
html = browser.html
soup = BeautifulSoup(html,'html.parser')
#Extract a news
news_title =soup.title.text
print(news_title)

News  – NASA’s Mars Exploration Program

In [5]:
#finding all articles titles and the latest news
results_art = soup.find_all('div', class_="content_title")
latest_news = results_art[0].text
print(latest_news)

#getting the paragraph 
para_cont = soup.find_all('div', class_="article_teaser_body")
latest_para = para_cont[0].text
print(latest_news, latest_para)

Mars Now
Mars Now The six-wheeled scientist is heading south to explore Jezero Crater’s lakebed in search of signs of ancient microbial life.

## JPL Mars Space Images

In [6]:
#Visiting the url for featured Space Image site
image_url = "https://spaceimages-mars.com"
browser.visit(image_url)

In [7]:
#Scrapping using BeutifulSoup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [8]:
#Navigating the site to find the image url
featured_image_url = soup.find("img", class_="headerimage")["src"]
print(featured_image_url)

image/featured/mars2.jpg

## Mars Facts

In [9]:
#Visit Mars facts webpage
facts_url = "https://galaxyfacts-mars.com/"

In [10]:
#Using Pandas to scrape the table containing facts
tables = pd.read_html(facts_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
#Getting DataFrame list
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
#Getting information / roping column and first header, assigning Row 0 as header 
#df = tables[0]
#df.columns = df.columns.get_level_values(0)
#df = df.loc[0]
#df.head()
tables = tables[0]
tables.columns = tables.iloc[0]
tables = tables.drop(tables.index[0])
tables.head()

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days

In [13]:
#using Pandas to convert data to html
html_tables = tables.to_html()
html_tables.replace('\n', '')
html_tables

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [50]:
 #Saving table to the file
tables.to_html('table.html')

## Mars Hemispheres

In [29]:
#Visit the astrogeology site
ast_url = "https://marshemispheres.com/"
browser.visit(ast_url)

In [30]:
#Scrapping using BeutifulSoup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [31]:
#Searching for titles for hemispheres using dictionary
ast_title = []
ast_results = soup.find_all('div', class_='collapsible results')
hemispheres_titles = ast_results[0].find_all('h3')

#Storage in a list
for name in hemispheres_titles:
    ast_title.append(name.text)
    
ast_title

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [32]:
#Serching for url images - using dictionary
url_results = ast_results[0].find_all('a')
hemi_img_link = []

#Storage in a list
for image in url_results:
    if (image.img):
        image_url = "https://marshemispheres.com/" + image['href']
        hemi_img_link.append(image_url)

hemi_img_link

['https://marshemispheres.com/cerberus.html',
 'https://marshemispheres.com/schiaparelli.html',
 'https://marshemispheres.com/syrtis.html',
 'https://marshemispheres.com/valles.html']

In [33]:
#Getting full images
images_full = []

for url in hemi_img_link:
    browser.visit(url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    #Getting image path
    img_results = soup.find_all('img', class_='wide-image')
    img_path = img_results[0]['src']
    
    #merge image path / get the url
    img_link = 'https://marshemispheres.com/' + img_path
    
    #Adding the links to the list
    images_full.append(img_link)
    
images_full

['https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [34]:
#Putting all info together 
hemi_mars_info = zip(ast_title, images_full)

hemi_images_url = []
for title, img in hemi_mars_info:
    hemi_mars_dict = {}
    
    #adding the previous information
    hemi_mars_dict['title'] = title
    hemi_mars_dict['img_url'] = img
    hemi_images_url.append(hemi_mars_dict)
hemi_images_url

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]